<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="PHP_CodeSniffer">
  <description>OS2Forms PHP Code Sniffer configuration</description>

  <file>.</file>
  <exclude-pattern>vendor/</exclude-pattern>
  <exclude-pattern>node_modules/</exclude-pattern>
  <!-- Exclude our copy of the abandoned https://www.drupal.org/project/webform_embed -->
  <exclude-pattern>modules/webform_embed/</exclude-pattern>
  <!-- Exclude our copy of the abandoned https://www.drupal.org/project/field_color -->
  <exclude-pattern>modules/os2forms_webform_maps/modules/field_color/</exclude-pattern>

  <!-- Show progress of the run -->
  <arg value="p"/>

  <arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,txt,yml"/>
  <config name="drupal_core_version" value="9"/>


  <rule ref="Drupal">
    <!-- We want to be able to use "package" and "version" in our custom modules -->
    <exclude name="Drupal.InfoFiles.AutoAddedKeys.Project"/>
    <exclude name="Drupal.InfoFiles.AutoAddedKeys.Version"/>
  </rule>

  <rule ref="DrupalPractice"/>
</ruleset>
